body {
	background-color: #3c3c3c;
	color: #686868;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #c0c0c0;
}

h1 {
	color: #888888;
}

textarea {
	background-color: #1e1e1e;
	color: #eeeeee;
	border: 1px solid #3c3c3c;
	box-shadow: 2px 2px 5px 2px #1e1e1e;
}

input {
	background-color: #1e1e1e;
	color: #eeeeee;
	border: 1px solid #3c3c3c;
}

input[type="number"] {
	width: 75px;
}

select {
	background-color: #1e1e1e;
	color: #eeeeee;
	border: 1px solid #3c3c3c;
	box-shadow: 2px 2px 5px 2px #1e1e1e;
}

button {
	background-color: #1e1e1e;
	color: #eeeeee;
	border: 1px solid #3c3c3c;
}

#downloadLink {
	display: none;
}


@mixin markdown {
	p {
		margin: 5px 0;
		line-height: 18px;
	}

	ul {
		list-style-type: square;
	}

	a {
		text-shadow: none;
	}
	blockquote {
		border-left: 5px solid #1e1e1e;
		margin: 0.5em 10px;
		padding: 0.5em 10px;
	}

	code {
		font-family: 'Courier New', Courier, monospace;
		font-size: 12px;
		background-color: #2e2e4e;
		border-right: 1px solid #1e1e1e;
		border-bottom: 1px solid #1e1e1e;
		padding: 3px 2px 1px 4px;
		margin: 3px 2px;
		line-height: 20px;
		text-shadow: 2px 2px #1e1e1e;
	}
}

#contentContainer {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	font-size: 13px;

	#navigation {
		display: flex;
		width: 250px;
		height: 100%;
		padding: 5px;
		margin: 0 5px 0 0;
		box-sizing: border-box;
		overflow: auto;
		background-color: #0e0e1e;
		border: 1px solid #3c3c3c;
		box-shadow: 2px 2px 5px 2px #0e0e1e;
		flex-direction: column;

		ul {
			list-style: none;
			padding: 0;

			ul {
				padding-left: 15px;
			}
		}
		li.section {
			margin: 10px 0;
		}

		li.active  {
			a {
				color: #d0d060;
			}
		}

		#searchContainer {
			width: 100%;

			input {
				padding: 0 2px;
				margin-right: 2px;
				width: 176px;
				height: 20px;
			}
			button {
				width: 30px;
				height: 20px;
			}
		}
	}

	#content {
		display: flex;
		height: 100%;
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
		flex-direction: column;

		h1 {
			width: 100%;
			margin: 5px 0;
			font-size: 18px;
		}

		#configWrapper {
			display: flex;
			height: 50%;
			width: 100%;
			box-sizing: border-box;
			flex-direction: row;

			#configContainer {
				display: flex;
				width: 50%;
				padding: 0;
				overflow: auto;
				background-color: #1e1e1e;
				border: 1px solid #3c3c3c;
				box-shadow: 2px 2px 5px 2px #1e1e1e;
				flex-direction: column;

				pre {
					color: #989898;
					margin: 0;
					padding: 5px;
					font-size: 11px;
				}

				#configText{
					display: none;
					width: 100%;
					height: 100%;
					padding: 5px;
					margin: 5px 0;
				}

				#btnApply {
					display: none;
				}

				#configHeader {
					display: flex;
					position: sticky;
					top: 0;
					padding: 5px;
					background-color: #1e1e1e;
					justify-content: space-between;

					button {
						margin: 0 3px;
					}
				}
			}

			#docContainer {
				display: flex;
				width: 50%;
				padding: 0 5px 5px 0;
				background-color: #3c3c3c;
				color: #ffffff;
				overflow: auto;
				font-size: 15px;
				flex-direction: column;

				@include markdown();
			}
		}

		#markdownContainer {
			display: flex;
			padding: 0 5px 5px 0;
			background-color: #3c3c3c;
			color: #ffffff;
			overflow: auto;
			font-size: 15px;
			flex-direction: column;

			@include markdown();
		}

		#codeSampleContainer {
			width: 100%;
			height: 50%;

			textarea {
				width: 100%;
				height: 100%;
				padding: 5px;
				margin: 5px 0;
				font-size: 12px;
			}
		}
		#searchResultContainer {
			list-style: none;
			padding: 0;

			li {
				margin: 5px 0;
			}
		}
	}
}

.ui-autocomplete {
	background-color: #1e1e1e;
	width: 180px;
	height: 400px;
	list-style: none;
	padding: 5px;
	overflow: auto;
	font-size: 13px;
	border: 1px solid #3e3e3e;

	.ui-state-active {
		background-color: #2e2e4e;
	}
}

.ui-helper-hidden-accessible {
	// display: none;
}
