body {
  background-color: #3c3c3c;
  color: #686868;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #c0c0c0;
}

h1 {
  color: #888888;
}

textarea {
  background-color: #1e1e1e;
  color: #eeeeee;
  border: 1px solid #3c3c3c;
  box-shadow: 2px 2px 5px 2px #1e1e1e;
}

input {
  background-color: #1e1e1e;
  color: #eeeeee;
  border: 1px solid #3c3c3c;
}

input[type=number] {
  width: 75px;
}

select {
  background-color: #1e1e1e;
  color: #eeeeee;
  border: 1px solid #3c3c3c;
  box-shadow: 2px 2px 5px 2px #1e1e1e;
}

button {
  background-color: #1e1e1e;
  color: #eeeeee;
  border: 1px solid #3c3c3c;
}

#downloadLink {
  display: none;
}

#contentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  font-size: 13px;
}
#contentContainer #navigation {
  display: flex;
  width: 250px;
  height: 100%;
  padding: 5px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
  overflow: auto;
  background-color: #0e0e1e;
  border: 1px solid #3c3c3c;
  box-shadow: 2px 2px 5px 2px #0e0e1e;
  flex-direction: column;
}
#contentContainer #navigation ul {
  list-style: none;
  padding: 0;
}
#contentContainer #navigation ul ul {
  padding-left: 15px;
}
#contentContainer #navigation li.section {
  margin: 10px 0;
}
#contentContainer #navigation li.active a {
  color: #d0d060;
}
#contentContainer #navigation #searchContainer {
  width: 100%;
}
#contentContainer #navigation #searchContainer input {
  padding: 0 2px;
  margin-right: 2px;
  width: 176px;
  height: 20px;
}
#contentContainer #navigation #searchContainer button {
  width: 30px;
  height: 20px;
}
#contentContainer #content {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  flex-direction: column;
}
#contentContainer #content h1 {
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
}
#contentContainer #content #configWrapper {
  display: flex;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
}
#contentContainer #content #configWrapper #configContainer {
  display: flex;
  width: 50%;
  padding: 0;
  overflow: auto;
  background-color: #1e1e1e;
  border: 1px solid #3c3c3c;
  box-shadow: 2px 2px 5px 2px #1e1e1e;
  flex-direction: column;
}
#contentContainer #content #configWrapper #configContainer pre {
  color: #989898;
  margin: 0;
  padding: 5px;
  font-size: 11px;
}
#contentContainer #content #configWrapper #configContainer #configText {
  display: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
}
#contentContainer #content #configWrapper #configContainer #btnApply {
  display: none;
}
#contentContainer #content #configWrapper #configContainer #configHeader {
  display: flex;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #1e1e1e;
  justify-content: space-between;
}
#contentContainer #content #configWrapper #configContainer #configHeader button {
  margin: 0 3px;
}
#contentContainer #content #configWrapper #docContainer {
  display: flex;
  width: 50%;
  padding: 0 5px 5px 0;
  background-color: #3c3c3c;
  color: #ffffff;
  overflow: auto;
  font-size: 15px;
  flex-direction: column;
}
#contentContainer #content #configWrapper #docContainer p {
  margin: 5px 0;
  line-height: 18px;
}
#contentContainer #content #configWrapper #docContainer ul {
  list-style-type: square;
}
#contentContainer #content #configWrapper #docContainer a {
  text-shadow: none;
}
#contentContainer #content #configWrapper #docContainer blockquote {
  border-left: 5px solid #1e1e1e;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}
#contentContainer #content #configWrapper #docContainer code {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  background-color: #2e2e4e;
  border-right: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  padding: 3px 2px 1px 4px;
  margin: 3px 2px;
  line-height: 20px;
  text-shadow: 2px 2px #1e1e1e;
}
#contentContainer #content #markdownContainer {
  display: flex;
  padding: 0 5px 5px 0;
  background-color: #3c3c3c;
  color: #ffffff;
  overflow: auto;
  font-size: 15px;
  flex-direction: column;
}
#contentContainer #content #markdownContainer p {
  margin: 5px 0;
  line-height: 18px;
}
#contentContainer #content #markdownContainer ul {
  list-style-type: square;
}
#contentContainer #content #markdownContainer a {
  text-shadow: none;
}
#contentContainer #content #markdownContainer blockquote {
  border-left: 5px solid #1e1e1e;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}
#contentContainer #content #markdownContainer code {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  background-color: #2e2e4e;
  border-right: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  padding: 3px 2px 1px 4px;
  margin: 3px 2px;
  line-height: 20px;
  text-shadow: 2px 2px #1e1e1e;
}
#contentContainer #content #codeSampleContainer {
  width: 100%;
  height: 50%;
}
#contentContainer #content #codeSampleContainer textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}
#contentContainer #content #searchResultContainer {
  list-style: none;
  padding: 0;
}
#contentContainer #content #searchResultContainer li {
  margin: 5px 0;
}

.ui-autocomplete {
  background-color: #1e1e1e;
  width: 180px;
  height: 400px;
  list-style: none;
  padding: 5px;
  overflow: auto;
  font-size: 13px;
  border: 1px solid #3e3e3e;
}
.ui-autocomplete .ui-state-active {
  background-color: #2e2e4e;
}

/*# sourceMappingURL=formatter-docs.css.map */
